<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <ul>
   <li><h3>Total number of <%= link_to 'products', admin_products_path %> is <%= @total_products %></h3></li>
   
   <li><h3>Total number of categories is <%= @total_categories%></h3></li>

  </ul>